<template>
    <div class="container">
        <div class="card container-fluid">
            <div class="card-body">
                <h4 class="text-center animated tada">Buat Konten</h4>
                <p class="text-center animated slideInRight	"> Silahkan isi Form Di Bawah Ini</p>
                <hr>
                <form v-on:submit="submitPost()">
                    <div class="form-group row">
                        <label for="judul" class="col-sm-4 col-form-label">Masukkan Judul</label>
                        <div class="col-sm-8">
                        <input type="text" v-model="post.judul" class="form-control" id="judul" placeholder="Masukkan Judul Disini..." required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="judul" class="col-sm-4 col-form-label">Masukkan Deskripsi</label>
                        <div class="col-sm-8">
                        <textarea type="text" rows=4 v-model="post.deskripsi" class="form-control" id="judul" placeholder="Masukkan Deskripsi Disini..." required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <router-link to="/" class="btn btn-outline-danger btn-sm ">Cancel</router-link>
                        <button type="submit" class="btn btn-outline-info btn-sm"> + Buat Konten</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {
  data:function() {
    return {
      post: {
          judul:'',
          deskripsi:'',
      },
      errors: []
    }
  },
methods:{
    // Fetches posts when the component is created.
    submitPost() {
        axios.post('/post',this.post)
        .then(response => {
            console.log(response)
        // JSON responses are automatically parsed.
        this.$router.push({path:'/'})
        this.post = response.data
        })
        .catch(e => {
        this.errors.push(e)
        })
    }
}
}
</script>