
<template>
<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h4 class="text-center">Halaman Utama</h4>
            <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Judul</th>
                <th scope="col" style="width:600px">Deskripsi</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="p, index in post" :key="p.id">
                <td scope="row">{{index+1}}</td>
                <td>{{p.judul}}</td>
                <td>{{p.deskripsi.substring(0,50)}}</td>
                <td>
                    <router-link :to="{name:'showPost',params:{id:p.id}}" class="btn btn-info btn-sm hvr-float-shadow" >Show</router-link>      
                    <router-link :to="{name:'editPost',params:{id:p.id}}" class="btn btn-warning btn-sm hvr-float-shadow" >Edit</router-link>      
                    <button class="btn btn-danger btn-sm hvr-float-shadow" v-on:click="deletePost(p.id)">Delete</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>
<script>

export default {
  data() {
    return { 
      post: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    axios.get('/post')
    .then(response => {
      // JSON responses are automatically parsed.
      this.post = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods:{
    // Fetches posts when the component is created.
    deletePost(id,index) {
      if(confirm("Click 'OK' untuk hapus")){
        axios.delete('/post/'+id,this.post)
        .then(response => {
            console.log(response)
        // JSON responses are automatically parsed.
        this.post.splice(index,1);
        })
        .catch(e => {
        this.errors.push(e)
        })
      }
    }
  }
}
</script>