<template>
<div class="card">
  <div class="card-body">
    <router-link to="/" class="btn btn-primary btn-sm hvr-icon-back"> <i class="fa fa-arrow-left hvr-icon"></i> Back To Home</router-link>
    <hr>
    <h2>{{post.judul}}</h2>
    <p>{{post.deskripsi}}</p>
  </div>
</div>
</template>
<script>

export default {
  data() {
    return {
      post: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
      let id = this.$route.params.id;
    axios.get('/post/' + id)
    .then(response => {
      // JSON responses are automatically parsed.
      this.post = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
}
</script>