<template>
    <div class="container">
        <div class="card container-fluid">
            <div class="card-body">
                <h4 class="text-center">Edit Konten</h4>
                <hr>
                <form v-on:submit="updatePost()">
                    <div class="form-group row">
                        <label for="judul" class="col-sm-4 col-form-label">Masukkan Judul</label>
                        <div class="col-sm-8">\\\\\\
                        <input type="text" v-model="post.judul" class="form-control" id="judul">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="judul" class="col-sm-4 col-form-label">Masukkan Deskripsi</label>
                        <div class="col-sm-8">
                        <textarea type="text" rows=4 v-model="post.deskripsi" class="form-control" id="judul"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <router-link to="/" class="btn btn-sm btn-danger">Cancel</router-link>
                        <button type="submit" class="btn btn-primary btn-sm"> + Update Konten</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>

export default {
  data() {
    return {
      post: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    let id = this.$route.params.id;
    axios.get('/post/' + id +'/edit')
    .then(response => {
      // JSON responses are automatically parsed.
      this.post = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods:{
    // Fetches posts when the component is created.
    updatePost() {
        let id = this.$route.params.id;
        axios.patch('/post/'+id,this.post)
        .then(response => {
            console.log(response)
        // JSON responses are automatically parsed.
        this.$router.push({path:'/'})
        this.post = response.data
        })
        .catch(e => {
        this.errors.push(e)
        })
    }
}
  
}
</script>